.login {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  border: 1px solid black;
  height: 50vh;
  width: 45vw;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
}

.half {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  border-right: 1px solid black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.approach-signup {
  width: 50%;
  /* background-color: #f299b7; */
  background: linear-gradient(to bottom right, #000000 0%, #e6afbf 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 2rem;
  width: 70%;
  border: 0;
  border-radius: 3px;
  background-color: #efefef;
  margin-top: 0.5rem;
}

.signin-btn {
  margin-top: 0.5rem;
  width: 70%;
  height: 2.5rem;
  border-radius: 3px;
  border: 0;
  background-color: #000000;
  color: white;
}

.approach-btn {
  font-weight: bold;
  color: white;
  width: 30%;
  height: 2rem;
  border-radius: 15px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255);
}
