.login {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  border: 1px solid black;
  height: 50vh;
  width: 45vw;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
